
<%- contentFor('body') %>
<div class="content-body default-height">
<!-- row -->
      <div class="container-fluid">
            
</div>
</div>

<%- contentFor('script') %>
<script src="js/custom.min.js"></script>
<script src="js/dlabnav-init.js"></script>
<script src="js/demo.js"></script>