<%- contentFor('css') %>
<!-- Light Gallery -->
<link href="vendor/lightgallery/dist/css/lightgallery.css" rel="stylesheet">
<link href="vendor/lightgallery/dist/css/lg-thumbnail.css" rel="stylesheet">
<link href="vendor/lightgallery/dist/css/lg-zoom.css" rel="stylesheet">

<%- contentFor('body') %>
<div class="content-body default-height">
  <div class="container-fluid">
    <!-- breadcrumb -->
    <%- include('../../elements/breadcrumb', {breadcrumb:'Plugins'}) %>
    <div class="row">
      <div class="col-lg-12">
        <div class="card">
          <div class="card-header">
            <h4 class="card-title">Light Gallery</h4>
          </div>
          <div class="card-body pb-1">
            <div id="lightgallery" class="row">
              <a href="images/big/img1.jpg" data-src="images/big/img1.jpg" data-exthumbimage="images/big/img1.jpg"
                class="lg-item col-lg-3 col-md-6 mb-4">
                <img src="images/big/img1.jpg" alt="" class="w-100 rounded">
              </a>
              <a href="images/big/img2.jpg" data-src="images/big/img2.jpg" data-exthumbimage="images/big/img2.jpg"
                class="lg-item col-lg-3 col-md-6 mb-4">
                <img src="images/big/img2.jpg" alt="" class="w-100 rounded">
              </a>
              <a href="images/big/img3.jpg" data-src="images/big/img3.jpg" data-exthumbimage="images/big/img3.jpg"
                class="lg-item col-lg-3 col-md-6 mb-4">
                <img src="images/big/img3.jpg" alt="" class="w-100 rounded">
              </a>
              <a href="images/big/img4.jpg" data-src="images/big/img4.jpg" data-exthumbimage="images/big/img4.jpg"
                class="lg-item col-lg-3 col-md-6 mb-4">
                <img src="images/big/img4.jpg" alt="" class="w-100 rounded">
              </a>
              <a href="images/big/img5.jpg" data-src="images/big/img5.jpg" data-exthumbimage="images/big/img5.jpg"
                class="lg-item col-lg-3 col-md-6 mb-4">
                <img src="images/big/img5.jpg" alt="" class="w-100 rounded">
              </a>
              <a href="images/big/img6.jpg" data-src="images/big/img6.jpg" data-exthumbimage="images/big/img6.jpg"
                class="lg-item col-lg-3 col-md-6 mb-4">
                <img src="images/big/img6.jpg" alt="" class="w-100 rounded">
              </a>
              <a href="images/big/img7.jpg" data-src="images/big/img7.jpg" data-exthumbimage="images/big/img7.jpg"
                class="lg-item col-lg-3 col-md-6 mb-4">
                <img src="images/big/img7.jpg" alt="" class="w-100 rounded">
              </a>
              <a href="images/big/img8.jpg" data-src="images/big/img8.jpg" data-exthumbimage="images/big/img8.jpg"
                class="lg-item col-lg-3 col-md-6 mb-4">
                <img src="images/big/img8.jpg" alt="" class="w-100 rounded">
              </a>
            </div>
          </div>
        </div>
        <!-- /# card -->
      </div>
    </div>
  </div>
</div>

<%- contentFor('script') %>
<!-- Light Gallery -->
<script src="vendor/lightgallery/dist/lightgallery.min.js"></script>
<script src="vendor/lightgallery/dist/plugins/thumbnail/lg-thumbnail.min.js"></script>
<script src="vendor/lightgallery/dist/plugins/zoom/lg-zoom.min.js"></script>
<script src="js/custom.min.js"></script>
<script src="js/dlabnav-init.js"></script>
<script src="js/demo.js"></script>