<%- contentFor('body') %>
    <div class="content-body default-height">
      <div class="container-fluid">
        <h3>Partner einladen</h3>
        <form action="/send-partner-invite" method="POST">
          <div class="mb-3">
            <label for="firstName">Vorname:</label>
            <input type="text" id="firstName" name="firstName" class="form-control" required>
          </div>
          <div class="mb-3">
            <label for="lastName">Nachname:</label>
            <input type="text" id="lastName" name="lastName" class="form-control" required>
          </div>
          <div class="mb-3">
            <label for="email">E-Mail:</label>
            <input type="email" id="email" name="email" class="form-control" required>
          </div>
          <div class="mb-3">
            <label for="sponsorId">Sponsor-ID:</label><span> <%= partnerid %></span>
            <input type="text" id="sponsorId" name="sponsorId" class="form-control" value="<%= partnerid %>" required hidden>
          </div>
          <button type="submit" class="btn btn-primary">Einladen</button>
        </form>
      </div>
    </div>
  <%- contentFor('script') %>
    <script src="/assets/vendor/owl-carousel/owl.carousel.js"></script>
    <script src="/assets/js/custom.min.js"></script>
    <script src="/assets/js/dlabnav-init.js"></script>
    <script src="/assets/js/demo.js"></script>