
<% if(typeof breadcrumb !== 'undefined' && breadcrumb) { %>
<div class="page-titles">
  <ol class="breadcrumb">
    <li class="breadcrumb-item">
      <a href="javascript:void(0)"><%= breadcrumb?breadcrumb:'Dashboard' %></a>
    </li>
    <li class="breadcrumb-item active">
      <a href="javascript:void(0)"><%= headerTitle?headerTitle:'Dashboard' %></a>
    </li>
  </ol>
</div>
<% } %>