<!-- Google tag (gtag.js) -->
<script src="https://cdn.jsdelivr.net/npm/apexcharts"></script>
<script async src="https://www.googletagmanager.com/gtag/js?id=G-25BXFRM4PW"></script>
<script>
  window.dataLayer = window.dataLayer || [];
  function gtag(){dataLayer.push(arguments);}
  gtag('js', new Date());

  gtag('config', 'G-25BXFRM4PW');
</script>
<div class="footer">
  <div class="copyright">
    <p>Copyright © Designed &amp; Developed by Herando <span class="current-year">2024</span></p>
  </div>
</div>