<div class="dlabnav">
  <div class="dlabnav-scroll">
    <ul class="metismenu" id="menu">
      
      <!-- 🌟 Dashboard für alle Benutzer sichtbar -->
      <li>
        <a class="has-arrow " href="javascript:void()" aria-expanded="false">
          <i class="fas fa-home"></i>
          <span class="nav-text">Dashboard</span>
        </a>
        <ul aria-expanded="false">
          <li><a href="/profile">Profil</a></li>
          <li><a href="products">Produktverkauf</a></li>
          <li><a href="messages">Nachrichten</a></li>
          <li><a href="/invite-partner">Partner EINLADEN</a></li>
          <li><a href="/customers">Kunde anlegen</a></li>
          <li><a href="/tasks">Kunde aquarieren</a></li>
        </ul>
      </li>

      <!-- 🌟 Adminübersicht nur für Admins, Superadmins und Moderatoren -->
      <% if (userRole === 'admin' || userRole === 'superadmin' || userRole === 'moderator') { %>
      <li>
        <a class="has-arrow" href="javascript:void()" aria-expanded="false">
          <i class="fas fa-info-circle"></i>
          <span class="nav-text">Adminübersicht</span>
        </a>
        <ul aria-expanded="false">
          <li><a href="/documents">Dokumente</a></li>
          <li><a href="/finance">Finanzenübersicht</a></li>

          <!-- 🌟 Email-Menü nur für Superadmins -->
          <% if (userRole === 'superadmin') { %>
          <li>
            <a class="has-arrow" href="javascript:void()" aria-expanded="false">Email</a>
            <ul aria-expanded="false">
              <li><a href="/email-inbox">Inbox</a></li>
              <li><a href="/email-read">Read</a></li>
            </ul>
          </li>
          <% } %>
          
          <!-- 🌟 Auszahlungsübersicht nur für Admins & Superadmins -->
          <% if (userRole === 'admin' || userRole === 'superadmin') { %>
          <li><a href="/payouts">Auszahlungsübersicht & Genehmigung</a></li>
          <!--<li><a href="/payments">Payments</a></li>-->
          <li><a href="/orders">Bestellstatistiken</a></li>
          <li><a href="/admin/partner-list">Alle Partnerverwaltung</a></li>

          <% } %>
        </ul>
      </li>
      <% } %>

    </ul>
    
    <!--<div class="copyright">
      <p>Herando A.S. <span class="current-year">2025</span> All Rights Reserved</p>
      <p class="fs-12">Made with <span class="heart"></span> by Herando</p>
    </div>-->
  </div>
</div>
