<!DOCTYPE html>
<html lang="en">
<head>
	<!-- PAGE TITLE HERE -->
	<title>Fillow - NodeJs Saas Admin Dashboard Template | Dexignlabs</title>

	<meta charset="utf-8">
	<meta http-equiv="X-UA-Compatible" content="IE=edge">
	<meta name="author" content="Dexignlabs">
	<meta name="robots" content="index, follow">
	<meta name="keywords" content="admin, admin dashboard, admin template, analytics, node, bootstrap, bootstrap5, bootstrap 5 admin template, modern, responsive admin dashboard, sales dashboard, sass, ui kit, web app, Fillow SaaS, User Interface (UI), User Experience (UX), Dashboard Design, SaaS Application, Web Application, Data Visualization, Analytics, Customization, Responsive Design, Bootstrap Framework, Charts and Graphs, Data Management, Reporting, Dark Mode, Mobile-Friendly, Dashboard Components, Integrations, Analytics Dashboard, API Integration, User Authentication">
	<meta name="description" content="Elevate your administrative efficiency and enhance productivity with the Fillow SaaS Admin Dashboard Template. Designed to streamline your tasks, this powerful tool provides a user-friendly interface, robust features, and customizable options, making it the ideal choice for managing your data and operations with ease.">
	<meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="shortcut icon" type="image/png" href="assets/images/favicon.png">
    <link href="assets/vendor/bootstrap-select/css/bootstrap-select.min.css" rel="stylesheet">
    <link href="assets/css/style.css" rel="stylesheet">
</head>

<body>
	<div class="fix-wrapper">
		<div class="container">
			<div class="row justify-content-center">
				<div class="col-lg-5 col-md-6">
					<div class="card mb-0 h-auto">
						<div class="card-body">
							<div class="text-center mb-3">
								<a href="index"><img class="logo-auth" src="assets/images/logo-full.png" alt=""></a>
							</div>
							<h4 class="text-center mb-4">Sign up your account</h4>

							<% if (message) { %>
								<div id="alert-message" class="alert alert-<%- message.status ? 'success' : 'danger' %> alert-dismissible fade show">
									<strong class="me-2"><%- message.status ? 'Success' : 'Error' %>:</strong>
									<%= message.message %>
									<button type="button" class="btn-close p-3" data-bs-dismiss="alert"></button>
								</div>
								
								<% if (message.status && redirect) { %>
									<script>
										setTimeout(function() {
											window.location.href = "/";
										}, 3000); // 3 Sekunden Verzögerung
									</script>
								<% } %>
							<% } %>

							<form action="register-store" method="post" enctype="multipart/form-data">
								<div class="form-group mb-4">
									<label class="form-label" for="username">Username</label>
									<input type="text" name="username" class="form-control" placeholder="Enter username" id="username" required>
								</div>

								<div class="form-group mb-4">
									<label class="form-label" for="email">Email</label>
									<input type="email" name="email" class="form-control" placeholder="hello@example.com" id="email" required>
								</div>

								<div class="form-group mb-4">
									<label class="form-label" for="company">Company Name</label>
									<input type="text" name="company" class="form-control" placeholder="Enter company name" id="company">
								</div>

								<div class="form-group mb-4">
									<label class="form-label" for="vatid">VAT ID</label>
									<input type="text" name="vatid" class="form-control" placeholder="Enter VAT ID" id="vatid">
								</div>

								<div class="form-group mb-4">
									<label class="form-label" for="firstname">First Name</label>
									<input type="text" name="firstname" class="form-control" placeholder="Enter first name" id="firstname" required>
								</div>

								<div class="form-group mb-4">
									<label class="form-label" for="lastname">Last Name</label>
									<input type="text" name="lastname" class="form-control" placeholder="Enter last name" id="lastname" required>
								</div>

								<!-- Adresse -->
								<div class="form-group mb-4">
									<label class="form-label" for="address">Address</label>
									<input type="text" name="address" class="form-control" placeholder="Enter address" id="address" required>
								</div>

								<div class="form-group mb-4">
									<label class="form-label" for="plz">Postal Code (PLZ)</label>
									<input type="text" name="plz" class="form-control" placeholder="Enter postal code" id="plz" required>
								</div>

								<div class="form-group mb-4">
									<label class="form-label" for="gender">Gender</label>
									<select name="gender" class="form-control" id="gender" required>
										<option value="">Select Gender</option>
										<option value="male">Male</option>
										<option value="female">Female</option>
										<option value="other">Other</option>
									</select>
								</div>

								<div class="form-group mb-4">
									<label class="form-label" for="birthdate">Date of Birth</label>
									<input type="date" name="birthdate" class="form-control" id="birthdate" required>
								</div>

								<div class="form-group mb-4">
									<label class="form-label" for="phone">Phone Number</label>
									<input type="text" name="phone" class="form-control" placeholder="Enter phone number" id="phone">
								</div>

								<div class="form-group mb-4">
									<label class="form-label" for="logo">Unternehmenslogo</label>
									<input type="file" name="logo" class="form-control" id="logo" accept="image/*">
								  </div>

								<div class="form-group mb-4">
									<label class="form-label" for="package">Select Package</label>
									<select name="package" class="form-control" id="package" required>
										<option value="">Select Package</option>
										<option value="light">Light</option>
										<option value="middle">Middle</option>
										<option value="premium">Premium</option>
									</select>
								</div>

								<div class="form-group mb-4">
									<label class="form-label" for="password">Password</label>
									<input type="password" name="password" class="form-control" placeholder="Enter password" id="password" required>
								</div>

								<div class="form-group mb-4">
									<label class="form-label" for="confirm_password">Confirm Password</label>
									<input type="password" name="confirm_password" class="form-control" placeholder="Re-enter password" id="confirm_password" required>
								</div>

								<div class="text-center">
									<button type="submit" class="btn btn-primary btn-block">Sign up</button>
								</div>
							</form>

							<div class="new-account mt-3">
								<p>Already have an account? <a class="text-primary" href="page-login">Sign in</a></p>
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>

	<!-- Required vendors -->
    <script src="assets/vendor/global/global.min.js"></script>
    <script src="assets/vendor/bootstrap-select/js/bootstrap-select.min.js"></script>
    <script src="assets/js/custom.min.js"></script>
    <script src="assets/js/dlabnav-init.js"></script>
    <script src="assets/js/demo.js"></script>

	<!-- Script to remove alert message after 10 seconds -->
	<script>
		function removeAlertMessage() {
			const alertElement = document.getElementById('alert-message');
			if (alertElement) {
				setTimeout(function () {
					alertElement.style.opacity = '0';
					setTimeout(function () {
						alertElement.remove();
					}, 1000);
				}, 10000);
			}
		}
		window.onload = removeAlertMessage;
	</script>
</body>
</html>
